body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

button {
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 44px;
    background-color: #b7343b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.lucas {
    background: url(imgs/qe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;

}

/* GRID*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-bottom: 80px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-contenido {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 600px;
    max-height: 100%;
}

.cerrar {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.about {
    display: flex;
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
}

.yunka {
    background: url(imgs/blade.jpg);
    width: 50%;
    height: 100%;
    
}

.texts {
    width: 50%;
    height: 100%;
    font-size: 60;
}

.te {
    margin: 20px;
}

.texts .te p {
    word-spacing: 3px;
    line-height: 30px;
    font-size: 20px;
    line-height: 40px;

}

.po {
    margin: auto;
    width: 600px;
    height: 80px;
    
}

.po h2 {
    font-size: 38px;
}

/*FOOTER*/


section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background-color: #202020;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right p {
   
    
   
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    
    
    
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    text-decoration: none;
}

.footer-distributed p.footer-links a:hover {
    text-decoration: none;
}

/* Media Queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}